<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <h1><%if (!editing) { %>Add a vehicle <% } else { %>Edit Vehicle<% } %></h1>
    
    <main class="container">
        <form 
            class="vehicle-form" 
            action="/admin/<% if (editing) { %>edit-vehicle<% } else { %>add-vehicle<% } %>" method="POST"
        >
            <div class="mb-3 form-control">
                <label for="model_year">Model Year</label>
                
                <select name="model_year" id="model_year" class="form-select">
                    <option selected="selected">Select a year for the vehicle:</option>
                    <% for( let i = new Date().getFullYear(); i >= 1901 ; i-- ) {%>
                        <option value="<%= i %>">
                            <%= i %>
                        </option>
                    <% } %>
                </select>

            </div>
            <div class="mb-3 form-control">
                <label for="make">Vehicle Manufacturer</label>
                <select name="make" id="make" class="form-select">
                    <option selected="selected">Select A Manufacturer for the vehicle:</option>
                    <% for( let i = 0; i <= makesArray.length ; i++ ) {%>
                        <option value="<%= makesArray[i] %>">
                            <%= makesArray[i] %>
                        </option>
                    <%} %>
                </select>
            </div>
            <div class="mb-3 form-control input-group">
                <label for="model">Model</label>
                <input type="text" id="model" name="model">
            </div>

            <div class="mb-3 form-control input-group">
                <label for="miles">Miles</label>
                <input type="number" id="miles" name="miles">
            </div>

            <div class="mb-3 form-control input-group">
                <label for="car_price">Car Price</label>
                <input type="number" id="car_price" name="car_price">
            </div>

            <div class="mb-3 form-control">
                <label for="color">Vehicle Color</label>
                <select name="color" id="color" class="form-select">
                    <option selected="selected">What color is the vehicle?</option>
                    <% for( let i = 0; i <= colorsArray.length ; i++ ) {%>
                        <option value="<%= colorsArray[i] %>">
                            <%= colorsArray[i] %>
                        </option>
                    <%} %>
                </select>
            </div>

            <div class="mb-3 form-control">
                <label for="layout">Car Layout</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="FF" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Front-engine, Front-wheel drive (FF)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="FR" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                        Front-Engine, Rear-wheel drive  (FR)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="RR"  id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Rear-Engine, Rear-wheel drive (RR)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="MR" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Mid-Engine, Rear-wheel drive (MR)
                    </label>
                </div>
                                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="4WD"  id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Four-Wheel Drive (4WD)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="layout" value="AWD"  id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        All Wheel Drive AKA Full Time Four-Wheel Drive (AWD)
                    </label>
                </div>
            </div> 
            <div class="mb-3 form-control">
                <label for="transmission">Transmission Type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transmission" id="automatic" checked value="automatic">
                    <label class="form-check-label" for="automatic">
                        Automatic Transmission
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transmission" id="manual" value="manual">
                    <label class="form-check-label" for="manual">
                        Manual Transmission
                    </label>
                </div>
            </div>
            <div>
                <label for="engine_config">Engine Configuration</label>
                <select name="engine_config" id="engine_config" class="form-select">
                    <option selected="selected">Select An Engine Configuration:</option>
                
                    <% enginesData.forEach(function (arrayItem) {%>
                        <option value="<%= arrayItem.config %>">
                            <%= arrayItem.config %>
                        </option>
                    <%}); %>
                </select>
            </div>
<%# Still needs engine config (button radios or selector) and color (selector?) %>
            <button class="btn btn-primary" type="submit">
                <% if (editing) { %>Update Vehicle<% } else { %>Add Vehicle<% } %>
            </button>

        </form
    </main>
    <%- include('../includes/end.ejs') %>