<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container pt-2 mt-5">
    <h1 class="fw-bold mb-3">
      <%= car.model_year %> <%= car.make %> <%= car.model %>
    </h1>
    <article>
      <img src="<%= car.car_photo_url %>" class="img-fluid max-width: 100%" alt="">
      <div class="row">

        <div class="col-md-5 offset-md-6 mt-4 mb-4">

          <div class="card">
            <div class="card-body">
              <h2 class="text-wrap">
                Car Price: $<%= car.car_price %>
              </h2>

            </div>
          </div>


        </div>
        <div class="row">
          <div class="card col-3 me-4 " style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Exterior: <%= car.color %></li>
              <li class="list-group-item">Miles: <%= car.car_price %></li>
              <li class="list-group-item">Engine: <%= car.engine_type %></li>
            </ul>
          </div>

          <div class="card col-3 ms-4 me-4" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Transmission: <%= car.transmission %></li>
              <li class="list-group-item">Layout: <%= car.layout %></li>
              <li class="list-group-item"><%= null %></li>
            </ul>
          </div>
        </div>

    </article>
  </main>
  <%- include('../includes/end.ejs') %>